body{
    background:burlywood;
}
.perfume-image{
    height: 400px;
    width: 300px;
}
.child{
    width: 250px;
    height: 400px;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button{
    background-color: rgb(1, 36, 1);
    width: 70%;
    height: 60%;
    color:white;
}
.sale-price{
    text-align: left;
    color:rgb(2, 65, 2)   
}
.parent{
    margin: 1em;
    padding: 2rem 2rem;
    text-align: center;
}
.child{
    display:inline-flex;
    margin-top: 3rem;
    padding: 0rem 0rem;
    vertical-align: middle;
}